@charset "UTF-8";
html{
	overflow-x : hidden;
}
.test{
	border: 1px solid;
}
.headermenus{
	float:right;
	height:80px;
	margin-right: 1%;
}
.headermenu{
	float:left;
	height: 80px;
	font-weight: bold;
	padding: 29px 8px;
	font-size: 14px;
	margin: 0 8px;
}
.headermenu:hover{
	border-bottom: 3px solid gray;
	cursor: pointer;
}
.height_maxPer{height:100%;}
#header{
	display: block; 
	border-bottom: 1px solid #efefef;
	height:80px;
}
#headerlogo{
	width:80px;
	padding:0;
	margin:0;
	float:left;
	padding: 24px 42px;
}
#searchbarDiv{
	height:100%;
	float:left;
	width:40%;
}
#searchbar{
	width:480px;
	height:48px;
	border: 1px solid #efefef; 
	border-radius:3px;
	margin-top: 16px;
	margin-left: 10px; 
	box-shadow: 1px 2px 3px lightgray;
	display: block;
}
#searchbar:hover{
	box-shadow: 1px 3px 5px lightgray;
	transition: 1s;
}
#searchInput{
	font-weight: bold;
	font-size: 13pt;
	float:left;
	margin-top: 8px;
	color:gray;
	border: none;
	height:30px;
	width:420px;
}
#logoDiv{
	width:55px;
	height:48px;
	padding: 12px 18px;
	float:left;
}
.round-button{ 
    width: 60px; 
    height: 60px; 
    text-decoration: none; 
    display: inline-block; 
    outline: none; 
    cursor: pointer; 
    border-style: ridge; 
    color: black; 
    background-color: white; 
    border-radius: 100%; 
    overflow: none; 
    text-align: center; 
    font-size: 14pt;
    margin-left: 5%;
    margin-top: 5%;
    }

.calc{border: 1px solid lightgray;
	  height: 46px;
	  border-radius: 10px;
	  margin-left: 5%;
	  
	   }
